<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NBA Thesis</title>
</head>
<body>
    {% load static %}
    <div id="root">
        <!-- React will load here -->
    </div>
    <script src="{% static "frontend/main.js" %}"></script>
    <script src="{% static "frontend/0.main.js" %}"></script>
    <script src="{% static "frontend/1.main.js" %}"></script>
    <script src="{% static "frontend/2.main.js" %}"></script>
    <script src="{% static "frontend/3.main.js" %}"></script>
    <script src="{% static "frontend/4.main.js" %}"></script>
    <script src="{% static "frontend/5.main.js" %}"></script>
    <script src="{% static "frontend/6.main.js" %}"></script>
</body>
</html>